html, body {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%;
}

.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001; 
    font-size: 24px; 
}

#lightbox-image {
    max-width: 90%; 
    max-height: 90%; 
    width: auto;
    height: auto;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    object-fit: contain; 
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large; 
    color: #333;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.main-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

