

container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form > * {
    margin-bottom: 15px;
    display: block;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input:focus, textarea:focus {
    border-color: midnightblue;
    outline: none;
}


input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}


input:valid, select:valid, textarea:valid {
    border-color: green;
}


button:hover {
    background-color: gray;
}


.radio-group input[type="radio"]:checked {
    border-color: green;
    background-color: green;
    box-shadow: 0 0 0 4px white;
}


.radio-group input[type="radio"]:checked + label {
    color: green;
}


input:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}



