body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter-card {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    color: #2d3436;
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
}

labele {
    display: block;
    margin-bottom: 0.5rem;
    color: #636e72;
    font-size: 0.9rem;
}

input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.result-area {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px dashed #dfe6e9;
    align-items: center;
}

#result-text {
    font-size: 2rem;
    font-weight: bold;
    color: #00b894;
    margin: 0;
}

#rate-info {
    font-size: 0.8rem;
    color: #b2bec3;
}